<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Expenses Tracker</title>

    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/images/logo.png" />

    <!-- Meta tag for mobile devices -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Custom icons and font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet" />
    <!-- Bootstrap via CDN, custom CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    <!-- Vue,js CDN, custom JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/dashboard.js" defer></script>
  </head>
  <body>
    <div id="dashboard">
      <div v-if="!showForbiddenSection">
        <div class="d-flex flex-column sidebar">
          <div style="height: 50px">
            <img
              src="assets/images/logo_text.png"
              style="max-width: 100%; max-height: 100%" />
          </div>
          <button
            type="button"
            class="sidebar-button mt-4 d-flex align-items-center justify-content-center"
            @click="resetEverything()">
            <span class="material-symbols-outlined"> home </span>
            <label class="sidebar-text">Budgets</label>
          </button>
          <button
            type="button"
            class="sidebar-button mt-4 d-flex align-items-center justify-content-center"
            @click="getBalanceSection()">
            <span class="material-symbols-outlined"> balance </span>
            <label class="sidebar-text">Balance</label>
          </button>
          <button
            type="button"
            class="sidebar-button mt-4 d-flex align-items-center justify-content-center"
            @click="getAboutMeSection()">
            <span class="material-symbols-outlined"> person </span>
            <label class="sidebar-text">About me</label>
          </button>
          <button
            type="button"
            class="sidebar-button mt-auto mb-5 d-flex align-items-center justify-content-center"
            @click="performLogout()">
            <span class="material-symbols-outlined"> logout </span>
            <label class="sidebar-text">Logout</label>
          </button>
        </div>

        <div
          v-if="showBudgetsSection"
          class="d-flex flex-column sidebar-margin">
          <div class="d-flex searchbar-bg">
            <div class="d-flex justify-content-center">
              <button
                type="button"
                class="col col-md-auto main-button d-flex justify-content-center align-items-center py-3"
                @click="addNewExpense()">
                <span class="material-symbols-outlined">add</span>
                &nbsp;&nbsp; Add Expense
              </button>
              <select
                name="search_type"
                v-model="searchOption"
                @change="resetSearchValues()"
                class="col mx-2 col-md-auto normal-button">
                <option value="Query">Query</option>
                <option value="Year">Year</option>
                <option value="Year-Month">Year-Month</option>
                <option value="Year-Month-ID">Year-Month-ID</option>
              </select>
            </div>

            <form id="search_form" class="col row searchbar-margin">
              <input
                type="text"
                v-model="query"
                v-if="shouldShowInput('Query')"
                class="col form-control mx-2 input-searchbar-style"
                placeholder="Query" />
              <input
                type="text"
                v-model="year"
                v-if="shouldShowInput(['Year', 'Year-Month', 'Year-Month-ID'])"
                class="col form-control mx-2 input-searchbar-style"
                placeholder="YYYY" />
              <input
                type="text"
                v-model="month"
                v-if="shouldShowInput(['Year-Month', 'Year-Month-ID'])"
                class="col form-control mx-2 input-searchbar-style"
                placeholder="MM" />
              <input
                type="text"
                v-model="id"
                v-if="shouldShowInput(['Year-Month-ID'])"
                class="col form-control mx-2 input-searchbar-style"
                placeholder="ID" />
              <button
                type="button"
                @click="filterExpenses()"
                class="col col-md-auto d-flex align-items-center px-3 search-button">
                <span class="material-symbols-outlined">search</span>
              </button>
            </form>
          </div>

          <div class="main-content-cover">
            <table id="expenses" class="budget-table">
              <thead>
                <tr class="text-center">
                  <th class="">ID</th>
                  <th class="">Date</th>
                  <th class="">Description</th>
                  <th class="">Category</th>
                  <th class="">Tot.Amount</th>
                  <th class="">Partecipants</th>
                  <th class="">Selected</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="expense in expenses" :key="expense._id">
                  <td class="text-center">
                    <div
                      class="id-link"
                      @click="openExpense(expense._id, expense.date)">
                      <b>{{expense._id}}</b>
                    </div>
                  </td>
                  <td class="text-center" style="color: rgb(139, 139, 139)">
                    {{expense.date}}
                  </td>
                  <td>
                    <div class="desc-categ-container">
                      {{expense.description}}
                    </div>
                  </td>
                  <td>
                    <div class="desc-categ-container">{{expense.category}}</div>
                  </td>
                  <td
                    class="text-center"
                    style="font-size: 25px; font-weight: 700">
                    <b>{{expense.totalAmount}} &euro;</b>
                  </td>
                  <td class="text-center">
                    <div
                      v-for="(participant, index) in expense.partecipants"
                      :key="index">
                      {{ participant.username }}&nbsp;&rarr;&nbsp;{{
                      participant.share }}&nbsp;&euro;<br />
                    </div>
                  </td>
                  <td class="">
                    <div class="d-flex justify-content-center">
                      <input
                        type="checkbox"
                        :checked="isSelected(expense._id)"
                        @change="toggleExpenseId(expense._id)" />
                      <div class="d-flex flex-column justify-content-between">
                        <button
                          type="button"
                          class="normal-button"
                          style="visibility: hidden; margin-top: 5px"
                          @click="modifyExpense(expense._id, expense.date)"
                          v-if="!isSelected(expense._id)">
                          Modify
                        </button>
                        <button
                          type="button"
                          class="normal-button"
                          style="visibility: hidden; margin-top: 5px"
                          @click="modifyExpense(expense._id, expense.date)"
                          v-if="!isSelected(expense._id)">
                          Delete
                        </button>
                        <button
                          type="button"
                          @click="modifyExpense(expense._id, expense.date)"
                          v-if="isSelected(expense._id)"
                          class="normal-button"
                          style="margin-top: 5px">
                          Modify
                        </button>
                        <button
                          type="button"
                          @click="deleteExpense(expense._id, expense.date)"
                          v-if="isSelected(expense._id)"
                          class="normal-button"
                          style="margin-top: 5px">
                          Delete
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          v-if="showAboutMeSection"
          class="d-flex flex-column sidebar-margin">
          <div>
            <div class="main-content-cover">
              <div class="text-container-style">
                <h2
                  style="margin-bottom: 40px; border-bottom: 1px solid #e9e9e9">
                  Personal Area
                </h2>
                <div>
                  <label>Username:&nbsp;&nbsp;</label>{{currentUser.username}}
                </div>
                <div><label>Name:&nbsp;&nbsp;</label>{{currentUser.name}}</div>
                <div>
                  <label>Surname:&nbsp;&nbsp;</label>{{currentUser.surname}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="showAddSection" class="d-flex flex-column sidebar-margin">
          <div>
            <button
              type="button"
              class="d-flex align-items-center p-3 main-button"
              @click="resetEverything()">
              <span class="material-symbols-outlined">arrow_back</span>
              &ThinSpace; Discard
            </button>
          </div>

          <div class="main-content-cover d-flex flex-column">
            <div v-if="addSectionNumber === 0">
              <div class="d-flex flex-column">
                <h4 style="margin-bottom: 30px">Insert Year</h4>
                <input
                  type="text"
                  class="form-control styled-input d-flex justify-content-center"
                  v-model="year"
                  placeholder="year" />
              </div>
            </div>
            <div v-if="addSectionNumber === 1">
              <div class="d-flex flex-column">
                <h4 style="margin-bottom: 30px">Month</h4>
                <input
                  type="text"
                  class="form-control styled-input d-flex justify-content-center"
                  v-model="month"
                  placeholder="month" />
              </div>
            </div>
            <div v-if="addSectionNumber === 2">
              <div class="d-flex flex-column">
                <h4 style="margin-bottom: 30px">Description</h4>
                <input
                  type="text"
                  class="form-control styled-input d-flex justify-content-center"
                  v-model="descr"
                  placeholder="description" />
              </div>
            </div>
            <div v-if="addSectionNumber === 3">
              <div class="d-flex flex-column">
                <h4 style="margin-bottom: 30px">Category</h4>
                <input
                  type="text"
                  class="form-control styled-input d-flex justify-content-center"
                  v-model="categ"
                  placeholder="category" />
              </div>
            </div>
            <div v-if="addSectionNumber === 4">
              <div class="d-flex flex-column">
                <h4 style="margin-bottom: 30px">Total Amount</h4>
                <input
                  type="text"
                  class="form-control styled-input d-flex justify-content-center"
                  v-model="totAm"
                  placeholder="total amount" />
              </div>
            </div>
            <div v-if="addSectionNumber === 5">
              <h4 style="margin-bottom: 30px">Partecipants</h4>
              <div class="d-flex flex-column">
                <div v-for="(user, index) in partec" :key="index">
                  <div class="d-flex justify-content-center w-100">
                    <div
                      class="d-flex align-items-center p-3 partecipants-list-style">
                      <div style="font-size: 17px">
                        username:&nbsp;&nbsp;<b>{{user.username}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;share:&nbsp;&nbsp;
                        <b>{{user.share}}&nbsp;&euro;</b>
                      </div>

                      <button
                        class="d-flex align-items-center p-1 remove-partec-button"
                        type="button"
                        @click="removePartecipant(index)">
                        <span
                          class="material-symbols-outlined"
                          style="color: #be3939"
                          >remove</span
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="d-flex flex-row justify-content-center align-items-center">
                <input
                  type="text"
                  class="form-control styled-input"
                  v-model="newUsername"
                  style="margin-right: 20px"
                  list="usernames1"
                  placeholder="Partecipant" />
                <datalist id="usernames1">
                  <option
                    v-for="suggestion in filteredUsernames"
                    :key="suggestion"
                    :value="suggestion"></option>
                </datalist>

                <input
                  type="text"
                  class="form-control styled-input"
                  v-model="newShare"
                  style="margin-right: 20px"
                  placeholder="Share" />
                <button
                  class="d-flex align-items-center p-1 add-partec-button"
                  type="button"
                  @click="addPartecipant()">
                  <span
                    class="material-symbols-outlined"
                    style="color: rgb(40, 185, 76)"
                    >add</span
                  >
                </button>
              </div>
            </div>
            <div v-if="addSectionNumber === 6">
              <h4 style="margin-bottom: 30px">Expense Resume</h4>
              <div class="text-container-style">
                <div>
                  <label>Date:&nbsp;&nbsp;</label>
                  {{year}}-{{month}}
                </div>
                <div>
                  <label>Description:&nbsp;&nbsp;</label>
                  {{descr}}
                </div>
                <div>
                  <label>Category:&nbsp;&nbsp;</label>
                  {{categ}}
                </div>
                <div>
                  <label>Total Amount:&nbsp;&nbsp;</label>
                  {{totAm}} &euro;
                </div>
                <div class="d-flex">
                  <div>
                    <label>Partecipants:</label><br />
                    <div
                      v-for="(user, index) in partec"
                      :key="index"
                      style="margin-top: 20px">
                      <div class="d-flex justify-content-center w-100">
                        <div
                          class="d-flex align-items-center p-3 partecipants-list-style">
                          <div style="font-size: 17px">
                            username:&nbsp;&nbsp;<b>{{user.username}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;share:&nbsp;&nbsp;
                            <b>{{user.share}}&nbsp;&euro;</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-top: 30px">
              <button
                type="button"
                class="normal-button"
                style="margin-right: 30px"
                @click="changeField(-1)">
                Go back
              </button>
              <button
                type="button"
                class="normal-button"
                @click="changeField(1)"
                v-if="!showFinishButton">
                Next
              </button>
              <button
                type="button"
                class="blue-button"
                @click="completeAddition()"
                v-if="showFinishButton">
                Finish
              </button>
            </div>
          </div>
          <div
            v-if="error !== ''"
            class="d-flex align-items-center p-3 error-style">
            <span class="material-symbols-outlined" style="color: #be3939"
              >error</span
            >
            &ThinSpace;{{error}}!
          </div>
        </div>

        <div v-if="showModifySection" class="d-flex flex-column sidebar-margin">
          <div>
            <button
              type="button"
              class="d-flex align-items-center p-3 main-button"
              @click="resetEverything()">
              <span class="material-symbols-outlined">arrow_back</span>
              &ThinSpace; Discard
            </button>
          </div>
          <div class="main-content-cover d-flex flex-column">
            <h5 style="margin-bottom: 20px">Description</h5>
            <input
              type="text"
              class="form-control styled-input"
              style="margin-bottom: 20px"
              v-model="descr" />
            <h5 style="margin-bottom: 20px">Category</h5>
            <input
              type="text"
              class="form-control styled-input"
              style="margin-bottom: 20px"
              v-model="categ" />
            <h5 style="margin-bottom: 20px">Total Amount</h5>
            <input
              type="text"
              class="form-control styled-input"
              style="margin-bottom: 20px"
              v-model="totAm" />
            <h5 style="margin-bottom: 20px">Partecipants</h5>
            <div class="d-flex flex-column">
              <div v-for="(user, index) in partec" :key="index">
                <div class="d-flex justify-content-center w-100">
                  <div
                    class="d-flex align-items-center p-3 partecipants-list-style">
                    <div style="font-size: 17px">
                      username:&nbsp;&nbsp;<b>{{user.username}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;share:&nbsp;&nbsp;
                      <b>{{user.share}}&nbsp;&euro;</b>
                    </div>

                    <button
                      class="d-flex align-items-center p-1 remove-partec-button"
                      type="button"
                      @click="removePartecipant(index)">
                      <span
                        class="material-symbols-outlined"
                        style="color: #be3939"
                        >remove</span
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="d-flex flex-row justify-content-center align-items-center">
              <input
                type="text"
                class="form-control styled-input"
                v-model="newUsername"
                style="margin-right: 20px"
                list="usernames2"
                placeholder="Partecipant" />
              <datalist id="usernames2">
                <option
                  v-for="suggestion in filteredUsernames"
                  :key="suggestion"
                  :value="suggestion"></option>
              </datalist>

              <input
                type="text"
                class="form-control styled-input"
                v-model="newShare"
                style="margin-right: 20px"
                placeholder="Share" />
              <button
                class="d-flex align-items-center p-1 add-partec-button"
                type="button"
                @click="addPartecipant()">
                <span
                  class="material-symbols-outlined"
                  style="color: rgb(40, 185, 76)"
                  >add</span
                >
              </button>
            </div>
            <div style="margin-top: 30px">
              <button
                type="button"
                class="normal-button"
                @click="completeModification()">
                Modify Expense
              </button>
            </div>
          </div>

          <div
            v-if="error !== ''"
            class="d-flex align-items-center p-3 error-style">
            <span class="material-symbols-outlined" style="color: #be3939"
              >error</span
            >
            &ThinSpace;{{error}}!
          </div>
        </div>

        <div
          v-if="showBalanceSection"
          class="d-flex flex-column sidebar-margin">
          <div class="main-content-cover">
            <div class="text-container-style">
              <h2 style="margin-bottom: 40px; border-bottom: 1px solid #e9e9e9">
                Personal Balance
              </h2>
              <p style="font-size: 30px">
                Overall
                Balance:&nbsp;&nbsp;<b>{{balance.overallBalance}}</b>&nbsp;&euro;
              </p>
              <div>
                <label>Money Spent:&nbsp;&nbsp;</label
                >{{balance.moneySpent}}&nbsp;&euro;
              </div>
              <div>
                <label>Money Received:&nbsp;&nbsp;</label
                >{{balance.moneyReceived}}&nbsp;&euro;
              </div>
              <div v-if="balance.owedMoney !== 0">
                <label>Owed money:&nbsp;&nbsp;</label
                >{{balance.owedMoney}}&nbsp;&euro;
              </div>
              <div v-if="balance.requestedMoney !== 0">
                <label>Requested money:&nbsp;&nbsp;</label
                >{{balance.requestedMoney}}&nbsp;&euro;
              </div>
            </div>

            <div
              class="d-flex align-items-center justify-content-center balance-input">
              <input
                type="text"
                class="form-control styled-input"
                v-model="newUsername"
                list="usernames3"
                style="
                  margin-right: 20px;
                  margin-bottom: 20px;
                  margin-top: 20px;
                "
                placeholder="username" />
              <datalist id="usernames3">
                <option
                  v-for="suggestion in filteredUsernames"
                  :key="suggestion"
                  :value="suggestion"></option>
              </datalist>
              <button
                type="button"
                class="normal-button"
                @click="updateBalance()">
                <label>Balance&nbsp;for&nbsp;User</label>
              </button>
            </div>
          </div>

          <div
            v-if="error !== ''"
            class="d-flex align-items-center p-3 error-style">
            <span class="material-symbols-outlined" style="color: #be3939"
              >error</span
            >
            &ThinSpace;{{error}}!
          </div>
        </div>

        <div
          v-if="showSpecificExpense"
          class="d-flex flex-column sidebar-margin">
          <div class="main-content-cover">
            <div class="text-container-style">
              <h2 style="margin-bottom: 40px; border-bottom: 1px solid #e9e9e9">
                Expense -
                <label class="fw-light" style="color: #505050"
                  >{{selectedExpense.expenses[0]._id}}</label
                >
              </h2>
              <div>
                <label>Date:&nbsp;&nbsp;</label>
                {{selectedExpense.expenses[0].date}}
              </div>
              <div>
                <label>Description:&nbsp;&nbsp;</label>
                {{selectedExpense.expenses[0].description}}
              </div>
              <div>
                <label>Category:&nbsp;&nbsp;</label>
                {{selectedExpense.expenses[0].category}}
              </div>
              <div>
                <label>Total Amount:&nbsp;&nbsp;</label>
                {{selectedExpense.expenses[0].totalAmount}} &euro;
              </div>
              <div
                class="d-flex flex-row justify-content-center specificExp-style">
                <div>
                  <label>Partecipants:</label><br />
                  <div
                    v-for="(user, index) in selectedExpense.expenses[0].partecipants"
                    :key="index"
                    style="margin-top: 20px">
                    <div class="d-flex justify-content-center w-100">
                      <div
                        class="d-flex align-items-center p-3 partecipants-list-style"
                        style="background-color: #bbffc5">
                        <div>
                          username:&nbsp;&nbsp;<b>{{user.username}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;share:&nbsp;&nbsp;
                          <b>{{user.share}}&nbsp;&euro;</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="selectedExpense.expenses[0].totalAmount"
                  style="margin-left: 50px">
                  <label>Refunds:</label><br />
                  <div
                    v-for="(refound, index) in selectedExpense.refounds"
                    :key="index"
                    style="margin-top: 20px">
                    <div class="d-flex justify-content-center w-100">
                      <div
                        class="d-flex align-items-center p-3 partecipants-list-style"
                        style="background-color: #ffe2e2">
                        <div>
                          From:&nbsp;&nbsp;<b>{{refound.From}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;To:&nbsp;&nbsp;<b>{{refound.To}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;Amount:&nbsp;&nbsp;<b
                            >{{refound.amount}}&nbsp;&euro;</b
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="showForbiddenSection"
        class="d-flex flex-column align-items-center justify-content-center"
        style="height: 100vh">
        <div class="text-center">
          <div style="height: 350px">
            <img
              src="assets/images/error_403_image.png"
              style="max-width: 100%; max-height: 100%" />
          </div>
          <div style="width: fit-content; margin: auto">
            <button
              type="button"
              onclick="window.location.href='index.html'"
              class="normal-button">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
